/* GENERAL STYLES */
img,
svg,
ul,
ol {
    all: unset;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    all: unset;
    font-family: "Lato", sans-serif;
}

.img {
    display: block;
}


p {
    padding: 0;
    margin: 0;
}

.footer_pusher {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}


.wrapper {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
}


/* footer */

footer {
    width: 100%;
    background-color: #222222;
    height: 75px;
}

.footer_content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer_content__copyright {
    display: flex;
    align-items: center;
}

.footer_content__social_media_icons {
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
}

.footer_content__smi_icon_wrapper {
    width: 32px;
    Height: 32px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7.29px;
}

.text_footer_copyright {
    height: 100%;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

/* Footer */
.footer_content__smi_icon_wrapper:hover {
    background: #F16D7F;
}

.footer_content__smi_icon_wrapper:hover .img_footer {
    filter: invert(1);
}